1.Write a Python program to find sum of elements in list?

In [12]:
def sum_val(value) :
    sum=0
    for i in value :
        sum+=int(i)
    return sum

In [11]:
list_val([1,2,3,4,5,6,7,8,9,10])

55

2.Write a Python program to  Multiply all numbers in the list?

In [13]:
def multi_val(val) :
    multi = 1
    for i in val :
        multi*=i
    return multi

In [14]:
multi_val([10,45,6,75])

202500

3.Write a Python program to find smallest number in a list?

In [4]:
def small_num(num) :
    min = 0
    min = num[1]
    for i in num :
        if i<min :
            min = i
    return min

In [6]:
small_num([100,34,57,65])

34

4.Write a Python program to find largest number in a list?

In [9]:
def large_num(nume) :
    max = 0
    max = nume[1]
    for i in nume :
        if i>max :
            max = i 
    return max

In [11]:
large_num([100,34,57,65,124])

124

5.Write a Python program to find second largest number in a list?

In [1]:
def second_large(item) :
    item.sort()
    sec_val = item[-2]
    return sec_val

In [2]:
second_large([100,34,57,65,124,625])

124

6.Write a Python program to find N largest elements from a list?

In [10]:
n_large = int(input("Enter the length of the list:"))
l = list()

for i in range(n_large) :
    l.append(int(input()))
print(l)
l.sort()
a = int(input("Enter the number of largest elements required:"))
if a> n_large :
    print("Out of Value!!!")
else :
    print(f"{a} largest elements are: {l[(n_large-a):]}")

Enter the length of the list:5
33
45
67
98
105
[33, 45, 67, 98, 105]
Enter the number of largest elements required:3
3 largest elements are: [67, 98, 105]

7.Write a Python program to print even numbers in a list?

In [6]:
def print_even(numb) : 
    y = list()
    for i in numb :
        if i%2 == 0 :
            y.append(i)
    return y

In [7]:
print_even([100,34,57,65,124,55,44])

[100, 34, 124, 44]

8.Write a Python program to print odd numbers in a List?

In [8]:
def print_odd(num_val) :
    z = list()
    for i in num_val :
        if not(i%2==0) :
            z.append(i)
    return z

In [9]:
print_odd([100,34,57,65,124,55,44])

[57, 65, 55]

9.Write a Python program to Remove empty List from List?

In [3]:
def remove_empty(empty_val) :
    new_val = list()
    for i in empty_val :
        if i != [] :
            new_val.append(i)
    return new_val

In [4]:
remove_empty([1,2,[],45,83,[],28])

[1, 2, 45, 83, 28]

10.Write a Python program to Cloning or Copying a list?

In [6]:
def clone_list(clone_val) :
    new_val = list()
    new_val = clone_val.copy()
    return new_val

In [7]:
clone_list([22,-19,80,45,81])

[22, -19, 80, 45, 81]

11.Write a Python program to Count occurrences of an element in a list?

In [17]:
count_val = int(input("Enter the range of values:"))
l = list()

count = 0
for i in range(count_val) :
    l.append(int(input()))
print(l)
find_occur = int(input("Which value to find:"))
for i in l :
      if find_occur == i :
            count+=1
print(f"{find_occur} is occuring {count} times")

Enter the range of values:10
1
2
3
2
5
2
6
7
2
8
[1, 2, 3, 2, 5, 2, 6, 7, 2, 8]
Which value to find:2
2 is occuring 4 times