Question1
Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

In [14]:
def filter_list(l):
    l1=list()
    for i in l:
        if type(i)==int:
            l1.append(i)
    return l1

In [15]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [16]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [17]:
filter_list(["Nothing", "here"])

[]

Question2
Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [5]:
def add_indexes(ind):
    val=list()
    n_ind=0
    for i in ind:
        val.append(ind.index(i,n_ind)+i)
        n_ind+=1
    return val

In [6]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [7]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [8]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

Question3
Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [39]:
def cone_volume(h,r):
    s = (h*3.14*r*r)
    v=1/3*s
    return "{:.2f}".format(v)

In [40]:
cone_volume(3, 2)

'12.56'

In [41]:
cone_volume(15,6)

'565.20'

In [42]:
cone_volume(18, 0)

'0.00'

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.
Examples
triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [61]:
def triangle(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i
    return sum

In [63]:
triangle(1)

1

In [64]:
triangle(6)

21

In [65]:
triangle(215)

23220

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [85]:
def missing_num(num):
    i_sum=0
    n_sum=0
    for i in range(11):
        i_sum+=i
    for j in num:
        n_sum+=j
        sum=i_sum-n_sum
    return sum

In [86]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [87]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [88]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7