Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [23]:
def is_symmetrical(num):
    str_s = str(num)
    if str_s==str_s[::-1]:
        return True
    else:
        return False

In [25]:
is_symmetrical(7227)

True

In [24]:
is_symmetrical(12567)

False

In [26]:
is_symmetrical(44444444)

True

In [27]:
is_symmetrical(9939)

False

In [28]:
is_symmetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [70]:
def multiply_nums(n):
    n=n.replace(" ","")
    n=n.split(",")
    prod=1
    for i in n:
        prod*=int(i)
    print(prod)

In [75]:
multiply_nums("2, 3")

6

In [76]:
multiply_nums("1, 2, 3, 4")

24

In [77]:
multiply_nums("54, 75, 453, 0")

0

In [74]:
multiply_nums("10, -2")

-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [47]:
def square_digits(square_digit):
    digit_list = []
    sq=1
    new_val = str(square_digit)
    for i in new_val:
        digit_list.append(i)
        for j in digit_list:
            sq=int(j)**2
        print(sq,end='')

In [48]:
square_digits(9119)

811181

In [49]:
square_digits(2483)

416649

In [50]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [91]:
def setify(dupe):
    res=[*set(dupe)]
    print(res)

In [92]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [93]:
setify([4, 4, 4, 4])

[4]

In [94]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [95]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.

In [122]:
def mean(m):
    str_m=str(m)
    l_m=[]
    sum=0
    mean=0
    for i in str_m:
        l_m.append(i)
        for j in l_m:
            pass
        sum+=int(j)
        mean=sum/len(l_m)
    return round(mean)

In [123]:
mean(42)

3

In [124]:
mean(12345)

3

In [125]:
mean(666)

6